/*css hauptteil start*/
/*#body {
 background-color:silver;  
 border:2px dotted orange; 
 float:left;
} */

#header {
 float:center;
 width:100%;
 height: 20%;
} 

#content {
 float:left;
 width:100%;
 height: 70%;
}

#footer {
 float:left;
 width:100%;
 height:10%;
} 
/*css hauptteil ende*/

/*css header navigation start*/

#header a {
text-decoration: none;
color: grey;
} 

#header a:hover {
text-decoration: none;
color: orange;
} 

#ueber_uns{
 background-color:pink;  
 border:2px dotted black; 
 float:left;
 width:200px;
 margin-right: 50px;
} 
#angebote {
 background-color:green;  
 border:2px dotted black; 
 float:left;
 width:200px;
 margin-right: 50px;
} 
#kontakt {
 background-color:yellow;  
 border:2px dotted black; 
 float:right;
 width:200px;
 /*margin-left:200px;*/
} 
/*css header navigation ende */

/*css content middle start*/

#punchline {
 /*background-color:RED;  */
 font-family:calibri, Garamond, Comic Sans; 
} 

#punchline h1 {
 text-align:center
 font-family:calibri, Garamond, Comic Sans; 
 font-size:29px;
} 


#sidebar-links {
 background-color:pink; 
 float: left; 
 width:10%;
 height:75%;
} 

#text_links {
 background-color:yellow;
 margin: 20px; 
} 

#middle {
 background-color:orange;  
 float: left;
 width:75%;
} 

#begruessungstext {
 background-color:blue;  
 vertical-align: center;
  height:10%;

}
#startseitenbild {
 margin-top: 2%;
 text-align: center;
 height:63%;
 }
 
 #sidebar-rechts {
 background-color:pink; 
 float: left; 
 width:15%;
 height:75%;
} 

#top_angebote{
 background-color:yellow;
 margin: 20px;  
} 

/*css content middle ende */


/*css footer navigation start*/
#agb{
 background-color:pink;  
 border:2px dotted black; 
 float:left;
 width:200px;
 margin-right: 50px;
} 
#platzhalter {
 background-color:green;  
 border:2px dotted black; 
 float:left;
 width:200px;
 margin-right: 50px;
} 
#impressum {
 background-color:yellow;  
 border:2px dotted black; 
 float:right;
 width:200px;
 /*margin-left:200px;*/
} 
/*css footer navigation ende */




